* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  --clr-1: #5372f0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  background: var(--clr-1);

  display: flex;
  justify-content: center;
}

.main-box {
  background: #ffffff;
  height: 400px;
  width: 90vw;
  max-width: 605px;
  border-radius: 15px;
  padding: 1em;
  margin: 10vh 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.content-box {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.quote-area {
  max-height: 100%;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.fa-quote-left {
  align-self: flex-start;
}

.fa-quote-right {
  align-self: flex-end;
}

.quote {
  font-size: 1.2em;
  word-break: keep-all;
  text-align: center;
  display: flex;
  scrollbar-width: thin;
  overflow: hidden auto;
  padding-right: 10px;
}
.author {
  font-style: italic;
  font-size: 1.2rem;
}

.controls-box {
  display: flex;
  align-items: end;
  justify-content: space-between;
  border-top: 1px solid #cccccc;
  height: 68px;
  width: 100%;
}

.controls-box div {
  display: flex;
}

.control {
  --size: 45px;
  height: var(--size);
  width: var(--size);
  padding: 5px;
  margin: 0 2px;

  border: 2px solid var(--clr-1);
  border-radius: 50%;
  background: transparent;
  color: var(--clr-1);

  font-size: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.control.new-quote {
  width: fit-content;
  border-radius: 20px;

  background: var(--clr-1);
  color: #fff;

  font-size: 1rem;
  padding: 0 1rem;
}

.control:hover {
  cursor: pointer;
  background: var(--clr-1);
  color: #fff;
}
.control:active {
  scale: 0.95;
}
